.profileSuggestionBody {
    width: 20%;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 3.5em;
    position: fixed;
    display: flex;
    right: 7%;
    backdrop-filter: blur(1.5em) saturate(200%);
    background-color: rgba(194, 220, 255, 0.51);
    border-radius: 1.5em;
    border: 0.1em solid rgba( 255, 255, 255, 0.18 );
    box-sizing: border-box;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

.profilesListElement {
    list-style: none;
    margin-bottom: .8em;
    display: flex;
    align-items: center;
    padding: 1em;
}

.profilesListElement:hover {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(194, 220, 255, 0.44);;
}

.profileSuggestionImage {
    width: 3em;
    height: 3em;
    margin-right: 1em;
    border-radius: 50%;
}

.profileSuggestionUsername {
    text-decoration: none;
    color: black;
    font-weight: bold;
}