.singleTweetBody {
    margin-top: 1em;
    display: flex;
    width: 61em;
    padding: 1.5em;
    flex-direction: column;
    word-break: break-all;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1.5em) saturate(200%);
    background-color: rgba(194, 220, 255, 0.51);
    border-radius: 1.5em;
    border: 0.1em solid rgba( 255, 255, 255, 0.18 );
    box-sizing: border-box;
}

.singleTweetEdit {
    margin-left: 90%;
}

.singleTweetHeader {
    display: flex;
    gap: 1em;
}

.tweetImage {
    width: 100%;
    border-radius: 1.5em;
}

.tweetProfileImage {
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

.iconDelete {
    width: 1.5em;
    height: 1.5em;
    /*color: #e72626;*/
    color: #e72626;
}

.iconEdit {
    width: 1.5em;
    height: 1.5em;
    /*color: #70e000;*/
    color: #023047;
}