.tweetList {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin-left: 0;
    margin-right: 0;
}

.noTweetsMessage {
    margin-top: 4em;
    color: white;

}