.editTweetBody {
    /*margin-top: .5em;*/
}

.tweetEditInput {
    color: black;
    font-size: 1.2em;
    background-color: rgba(194, 220, 255, 0.44);
    border-radius: .5em;
    padding: 0 0.6em;
    margin-top: 0.3em;
    border: none;
    outline: none;
    height: 2em;
    width: 30em;
    margin-right: 1%;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
}

.tweetEditInput:focus {
    background-color: rgba(194, 220, 255, 0.44);
    font-size: 1.2em;
    outline: none;
    padding: 0 0.6em;
    margin-top: 0.3em;
    border: none;
    height: 2em;
    width: 30em;
    margin-right: 1%;
    margin-bottom: 1em;
    font-family: 'Montserrat', sans-serif;
}

.tweetEditInput::placeholder {
    color: #3e3e3e;
    font-size: 1em;
}